[Unit]
Description=Docker ovpn2ss
After=docker.service

[Service]
ExecStart=/usr/bin/env docker run -p 8388:8388/tcp -p 8388:8388/udp --cap-add=NET_ADMIN --cap-add=SYS_ADMIN --device=/dev/net/tun --name ovpn2ss --rm ovpn2ss
ExecStop=/usr/bin/env docker stop ovpn2ss
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target
