[Unit]
Description=Docker ovpn2ss
After=docker.service

[Service]
ExecStart=/usr/bin/env docker run -p 8388:8388/tcp -p 8388:8388/udp --cap-add=NET_ADMIN --cap-add=SYS_ADMIN --device=/dev/net/tun --name ovpn2ss --rm --sysctl net.core.default_qdisc=fq --sysctl net.ipv4.tcp_congestion_control=bbr --sysctl net.ipv4.tcp_notsent_lowat=16384 ovpn2ss
ExecStop=/usr/bin/env docker stop ovpn2ss
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target
